absl-py==0.10.0
addict==2.4.0
affine==2.3.1
aiohttp==3.8.5
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
aotools==1.0.7
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
autograd==1.5
Babel==2.11.0
backcall==0.2.0
bleach==4.1.0
cachetools==4.1.1
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cmapy==0.6.6
colorama==0.4.5
compressai==1.0.8
ConfigArgParse==1.2.3
contextvars==2.4
cupy-cuda102==9.6.0
cupy-cuda111==9.6.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.4
executing==1.2.0
fastrlock==0.8.1
freetype-py==2.2.0
frozenlist==1.2.0
fsspec==2022.1.0
future==0.18.2
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.48.2
h5py==2.10.0
icecream==2.1.3
idna==2.10
idna-ssl==1.1.0
image-similarity-measures==0.3.5
imageio==2.9.0
imageio-ffmpeg==0.4.7
immutables==0.19
importlib-metadata==2.0.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.3
jedi==0.17.2
Jinja2==3.0.3
joblib==0.17.0
json5==0.9.11
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-packaging==0.10.6
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kornia==0.6.8
llvmlite==0.36.0
lmdb==1.4.0
lpips==0.1.4
Markdown==3.3
MarkupSafe==2.0.1
matplotlib==3.3.2
mesh-to-sdf==0.0.12
mistune==0.8.4
mpmath==1.2.1
multidict==5.2.0
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.6
networkx==2.5
notebook==6.4.10
numba==0.53.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1626681920064/work
oauthlib==3.1.0
omegaconf==2.3.0
open3d==0.15.2
opencv-python==4.4.0.44
OpenEXR @ file:///home/conda/feedstock_root/build_artifacts/openexr-python_1602380788741/work
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.3
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
phasepack==1.5
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.13.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.1
pyembree==0.1.6
pyFFTW==0.12.0
pyglet==1.5.7
Pygments==2.13.0
pyhocon==0.3.59
PyMCubes==0.1.2
PyOpenGL==3.1.0
pyparsing==2.4.7
pyquaternion==0.9.9
pyrender==0.1.43
pyrsistent==0.18.0
python-dateutil==2.8.1
pytorch-lightning==1.5.10
pytorch-msssim==0.2.1
pytorch-ssim==0.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==25.0.0
rasterio==1.2.10
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
Send2Trash==1.8.0
six==1.15.0
sniffio==1.2.0
snuggs==1.4.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==2.1.0
tifffile==2020.9.3
tomlkit==0.11.6
torch==1.10.0+cu111
torch-dct==0.1.5
torchaudio==0.10.1+cu102
torchmetrics==0.8.2
torchvision==0.11.1+cu111
tornado==6.1
tqdm==4.50.2
traitlets==4.3.3
trimesh==3.19.4
typing_extensions==4.1.1
urllib3==1.25.10
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==1.0.1
widgetsnbextension==3.6.2
wrapt==1.12.1
yarl==1.7.2
zipp==3.3.0
